@model PlannerWebApp.ViewModel.SubtasksViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubtasksViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubtaskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubtaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubtaskStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubtaskStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubtaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubtaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubtaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubtaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubtaskLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubtaskLabel)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubtaskId }) |
    <a asp-action="Index">Back to List</a>
</div>
